


@media(min-width:576px){
    
    
    
    
    
    
}


@media(min-width:768px){
    header .navbar-nav a{font-size: 1.1rem;text-align: center;border-bottom: none;transition: 0.5s linear;border-right: 1px solid #767676;padding: 0 10px;}
header .navbar-nav li:last-of-type a{border-bottom: none;border-right:1px solid #fff;}
header .navbar-nav li .active a,header .navbar-nav li:hover a{background: #000;color: #fff !important;}

    
    
    
    
}


@media(min-width:992px){
    
   
    .container{max-height: 947px}
    .left-content{border-right: 1px dotted #9a9a9a;}
    
    
}





@media(min-width:1200px){
    .container{max-height: 947px}
    
    
    
    
}